[Unit]
Description=batch-address
After=docker.service
Requires=docker.service
After=consul@%i.service
Wants=consul@%i.service

[Service]
EnvironmentFile=/etc/environment
TimeoutStartSec=10m
TimeoutStopSec=10m

Restart=on-failure

Environment=DOCKER_IMAGE=
Environment=CONTAINER=batch-address-test-tool
Environment=HOME=/root

ExecStartPre=-/usr/bin/docker kill ${CONTAINER}
ExecStartPre=-/usr/bin/docker rm ${CONTAINER}
ExecStartPre=/usr/bin/docker pull ${DOCKER_IMAGE}

ExecStart=/bin/bash -c 'docker run --name ${CONTAINER} \
  --env AWS_ACCESS_KEY=$(curl -s http://${COREOS_PRIVATE_IPV4}:8500/v1/kv/data-suite/aws/access-key?raw) \
  --env AWS_SECRET_KEY=$(curl -s http://${COREOS_PRIVATE_IPV4}:8500/v1/kv/data-suite/aws/secret-key?raw) \
  --env AWS_REGION=$(curl -s http://${COREOS_PRIVATE_IPV4}:8500/v1/kv/data-suite/region?raw) \
  --env AWS_SQS_ADDRESS_TEST_REQUEST=$(curl -s http://${COREOS_PRIVATE_IPV4}:8500/v1/kv/data-suite/sqs/address-test/request-url?raw) \
  --env AWS_SQS_ADDRESS_TEST_REQUEST_FAILURE=$(curl -s http://${COREOS_PRIVATE_IPV4}:8500/v1/kv/data-suite/sqs/address-test/request-failure-url?raw) \
  --env AWS_SNS_ADDRESS_TEST_SUCCESS=$(curl -s http://${COREOS_PRIVATE_IPV4}:8500/v1/kv/data-suite/sns/address-test/success-topic-arn?raw) \
  --env AWS_SNS_ADDRESS_TEST_FAILURE=$(curl -s http://${COREOS_PRIVATE_IPV4}:8500/v1/kv/data-suite/sns/address-test/failure-topic-arn?raw) \
  --env GOOGLE_CIVIC_INFO_API_KEY=$(curl -s http://${COREOS_PRIVATE_IPV4}:8500/v1/kv/data-suite/google-civic/api-key?raw) \
  --publish 10000 \
  ${DOCKER_IMAGE}'

ExecStop=/usr/bin/docker stop ${CONTAINER}

[X-Fleet]
MachineOf=consul@%i.service
