[Unit]
Description=batch-address
After=docker.service
Requires=docker.service
After=consul@%i.service
Wants=consul@%i.service
After=rabbitmq@%i.service
Requires=rabbitmq@%i.service

[Service]
EnvironmentFile=/etc/environment
TimeoutStartSec=10m
TimeoutStopSec=10m

Restart=on-failure

Environment=DOCKER_IMAGE=
Environment=CONTAINER=batch-address-test-tool
Environment=HOME=/root

ExecStartPre=-/usr/bin/docker kill ${CONTAINER}
ExecStartPre=-/usr/bin/docker rm ${CONTAINER}
ExecStartPre=/usr/bin/docker pull ${DOCKER_IMAGE}

ExecStart=/bin/bash -c 'docker run --name ${CONTAINER} \
  --link rabbitmq:rabbitmq \
  --env VIP_BA_RABBITMQ_EXCHANGE=$(curl -s http://${COREOS_PRIVATE_IPV4}:8500/v1/kv/data-suite/rabbitmq/exchange?raw) \
  --env NEW_RELIC_LICENSE_KEY=$(curl -s http://${COREOS_PRIVATE_IPV4}:8500/v1/kv/data-suite/newrelic/license-key?raw) \
  --env NEW_RELIC_ENVIRONMENT=$(curl -s http://${COREOS_PRIVATE_IPV4}:8500/v1/kv/data-suite/newrelic/environment?raw) \
  --env AWS_ACCESS_KEY_ID=$(curl -s http://${COREOS_PRIVATE_IPV4}:8500/v1/kv/data-suite/aws/access-key?raw) \
  --env AWS_SECRET_ACCESS_KEY=$(curl -s http://${COREOS_PRIVATE_IPV4}:8500/v1/kv/data-suite/aws/secret-key?raw) \
  --env GOOGLE_CIVIC_INFO_API_KEY=$(curl -s http://${COREOS_PRIVATE_IPV4}:8500/v1/kv/data-suite/google-civic/api-key?raw) \
  --publish 10000 \
  ${DOCKER_IMAGE}'

ExecStop=/usr/bin/docker stop ${CONTAINER}

[X-Fleet]
MachineOf=consul@%i.service
