{:aws {:creds {:access-key #resource-config/env "AWS_ACCESS_KEY"
               :secret-key #resource-config/env "AWS_SECRET_KEY"}
       :sns {:region #resource-config/env "AWS_SNS_REGION"
             :address-test-success-arn #resource-config/env "AWS_SNS_ADDRESS_TEST_SUCCESS"
             :address-test-failure-arn #resource-config/env "AWS_SNS_ADDRESS_TEST_FAILURE"}
       :sqs {:region #aws/region #resource-config/env "AWS_SQS_REGION"
             :address-test-request #resource-config/env "AWS_SQS_ADDRESS_TEST_REQUEST"
             :address-test-request-failure #resource-config/env "AWS_SQS_ADDRESS_TEST_REQUEST_FAILURE"}
       :s3 {:region #resource-config/env "AWS_S3_REGION"}}
 :civic-info-api-key #resource-config/env "GOOGLE_CIVIC_INFO_API_KEY"}
